.header,
.main,
.footer{
    display: flex;
    width: 1440px;
    margin: auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 116px;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
    .header__name-store,
    .header__nav_item {
        color: #1C2A39;
        font-family: Montserrat;
        font-style: normal;
        line-height: normal;
    }
    .header__name-store {
        font-size: 24px;
        font-weight: 700;
    }
    .header__nav {
        text-decoration: none;
        display: flex;
        gap: 40px;
        .header__nav_item {
            font-size: 10px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
    .header__function {
        display: flex;
        .header__function_img {
            position: static;
        }
        .header__function_Number-of-purchases {
            position: absolute;
            width: 13px;
            margin-left: 112px;
            margin-top: 10px;
            border: 1px solid #f00;
            border-radius: 50%;
            height: 13px;
            font-size: 10px;
            color: #FFF;
            background-color: red;
            display: none;
            justify-content: center;
            align-items: center;
            -webkit-text-stroke: medium;
        }
    }
}
.section {
    margin: auto;
    margin-top: 116px;
    display: flex;
    z-index: 2;
    @keyframes display {
        0% {
           transform: translateX(100px);
           opacity: 0;
         }
         10% {
           transform: translateX(0);
           opacity: 1;
         }
         20% {
           transform: translateX(0);
           opacity: 1;
         }
         30% {
           transform: translateX(-100px);
           opacity: 0;
         }
         100% {
           transform: translateX(-100px);
           opacity: 0;
         }
    }
    .slider {
        position: relative;
        width: 1120px;
        height: 702px;
    }
    .slider > .slid {
        position: absolute;
        top: 0;
        opacity: 0;
        animation: display 15s infinite;
    }
    .slid:nth-child(2) {
        animation-delay: 5s;
    }
    .slid:nth-child(3) {
        animation-delay: 10s;
    }
    .block1,
    .block2 {
        text-decoration: none;
        color: #1C2A39;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    .block1 {
        padding: 102px 20px 20px 20px;
        position: absolute;
        background: #9E98DC;
        margin-left: 1057px;
        margin-top: 79px;
        .block1__span {
            display: flex;
            width: 109px;
        }
    }
    .block2 {
        position: absolute;
        padding: 149px 47px 20px 21px;
        background: #FF8FE6;
        margin-left: 1143px;
        margin-top: 362px;
        .block2__span {
            display: flex;
            width: 69px;
        }
    }
}
.genre-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 710px;
    background: #EFEEF6;
    margin-top: 955px;
    position: absolute;
    gap: 23px;
    .genre-navigation__item {
        text-decoration: none;
        color: #5C6A79;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }
    
}
